.container-quizz {
    display: flex;
    flex-direction: column;
    height: 100%;
}

p.etiqueta-quizz {
    font-family: 'Brandon Bold', sans-serif;
    width: 15%;
    background: #F34D23;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

p.numero-pregunta {
    text-align: end;
    font-weight: 300 !important;
    font-size: 22px;
}

p.titulo-pregunta {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.3em;
}

li.btn-opcion {
    border: .8px solid;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 20px;
    transition: .5s ease-in-out;
}

li.btn-opcion:hover {
    cursor: pointer;
    border: .8px solid #F34D23;
    color: #F34D23;
    transition: .5s ease-in-out;
}

li.btn-opcion label {
    font-weight: 300;
    font-size: 16px;
}

input.opcion-pregunta {
    height: 0px;
    width: 0px;
}

.opciones-container {
    display: flex;
    flex-direction: column;
}

.opciones-container button {
    border: 1px solid #fff !important;
    padding: 20px !important;
    margin: 10px 0px;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.opciones-container button:hover {
    background: #F34D23;
    border-color: #F34D23 !important;
    transition: .3s ease-in-out;
}

.opciones-container button.seleccionado {
    background: red;
}

p.quizzComplete {
    font-size: 26px;
}

.feedback h2 {
    width: 15%;
    text-align: center;
    padding: 8px 0px;
    border-radius: 10px;
    margin: 30px 0px;
    border: 1px solid #F34D23;
    color: #F34D23;
}

.feedback-list p {
    font-size: 18px;
    margin: 15px 0px;
}

.box-quizz-completed {
    width: 100vw;
}

.bg-weare-hidden {
    display: none;
}

.containerRespuesta {
    border: 1px solid;
    padding: 40px;
    border-radius: 10px;
    margin: 20px 0px;
}

h4.title-respuesta {
    font-size: 32px;
    color: #F34D23;
}
