.container-principal {
    display: flex;
}

.bg-weare{
    width: 45vw;
    background-image: url(../../assets/img/bg-astronauta.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s;
}

.box-quizz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 100px;
    background-color: #09141f;
    width: 55vw;
    min-height: 100vh;
    color: #fff;
}

.container-btnCategorias {
    display: flex;
    flex-direction: column;
}

.container-btnCategorias button {
    margin-top: 50px;
    background: transparent;
    padding: 15px 60px;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #fff;
    transition: .3s ease-in-out;
}

.container-btnCategorias button:hover {
    background-color: #F34D23;
    border: 2px solid #F34D23;
    transition: .3s ease-in-out;
}